{% extends 'base.html' %}
{% block title %}Tutor A+ | Appointment{% endblock %}
{% block subtitle %}Appointment{% endblock %}
{% block body %}
{% load staticfiles%}
               <div class="row">
                    <!-- .col -->
                    <div class="col-md-12 col-lg-8 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Appointments Today</h3>
                            <div class="comment-center p-t-10">
                                
                                {% if app %}
                                {% for appointments in app %}
                                <div class="comment-body">
                                    <div class="user-img"> <img src="{% static 'plugins/images/users/pawandeep.jpg' %}" alt="user" class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>{{app|get_client_dash:appointments.request_id}}</h5><span class="time">Starts at {{appointments.time}}</span><br>
                                        <span class="time">Ends at {{app    |get_end_time:appointments.time}}</span>
                                        <br/><span class="mail-desc1">Service: Violin Lessons</span><br><span class="mail-desc1">Address: Lower Bonifacio, Baguio City</span>
                                    </div>
                                </div>
                                
                                {% endfor %}
                                {% else %}
                                    <div class="comment-body">
                                        <div class="mail-contnet">
                                        <p>No pending requests</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="panel">
                            <div class="sk-chat-widgets">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Upcoming Appointments
                                    </div>
                                    <div class="comment-center p-t-10">
                                <div class="comment-body1">
                                    <div class="user-img1"> <img src="{% static 'plugins/images/users/pawandeep.jpg' %}" alt="user" class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        
                                        <h5>Duke Rivera</h5><span class="time">May 20, 2017 @ 10:30AM</span>
                                        <br/><span class="mail-desc1">Service: Electric Guitar Lessons</span><span class="mail-desc1">Address: Ambiong, Baguio City</span> 
                                        </div>
                                    </div>
                                <div class="comment-body1">
                                    <div class="user-img1"> <img src="{% static 'plugins/images/users/sonu.jpg' %}" alt="user" class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>JL Aurelio</h5><span class="time">May 21, 2017 @ 1:30PM</span>
                                        <br/><span class="mail-desc1">Service: Bass Guitar Lessons</span><span class="mail-desc1">Address: General Luna, Baguio City</span> 
                                    </div>
                                </div>
                                <div class="comment-body1 b-none">
                                    <div class="user-img1"> <img src="{% static 'plugins/images/users/arijit.jpg' %}" alt="user" class="img-circle">
                                    </div>
                                    <div class="mail-contnet">
                                        <h5>Dixon Viloria</h5><span class="time">May 22, 2017 @ 11:30AM</span>
                                        <br/><span class="mail-desc1">Service: Acoustic Guitar Lessons</span><span class="mail-desc1">Address: Trancoville, Baguio City</span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                        </div>
            </div>
            <!-- /.container-fluid -->
            
        </div>
{% endblock %}