{% extends 'base.html' %}
{% block title %}Tutor A+ | Requests{% endblock %}
{% block subtitle %}Requests{% endblock %}
{% block body %}
{% load staticfiles %}
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                            </div>
                            <h3 class="box-title">Pending Requests</h3>
                            <div class="comment-center p-t-10">
                                {% for request in all_request %}
                                <div class="comment-body">
                                    <div class="user-img"> 
                                        <img src="{% static 'plugins/images/users/pawandeep.jpg' %}" alt="user" class="img-circle">
                                    </div>
                                    
                                    
                                    <div class="mail-contnet">
                                        <h5>{{client|get_client_req:request.client_id}}</h5><span class="time">{{request.date}} {{request.time}}</span>
                                        <br/><span class="mail-desc1">Service: {{request|get_service_req:request.sched_id}} Lessons</span><br><span class="mail-desc1">Schedule: {{sched|get_sched_day:request.sched_id}} @ {{sched|get_sched_time:request.sched_id}}</span><br>
                                        
                                        <form action="" method="get">
                                            {% csrf_token %}
                                            <button type="submit" class="btn-rounded btn btn-default btn-outline" name="message">
                                                <i class="fa fa-envelope-o fa-fw"></i> Message
                                            </button>
                                            <button type="submit" class="btn-rounded btn btn-default btn-outline" name="accept">
                                                <i class="fa fa-check-circle-o fa-fw"></i> Accept
                                            </button>
                                            <button type="submit" class="btn-rounded btn btn-default btn-outline" name="reject">
                                                <i class="fa fa-times-circle-o fa-fw"></i> Reject
                                            </button>
                                        </form>
                                    </div>
                                    
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}